html {
	box-sizing: border-box;
 }
 *,
 *:before,
 *:after {
	box-sizing: inherit;
 }

 .form-wrapper {
    padding: 1em 0 3em 0;
    width: 60%;
    margin: 0 auto;       
    text-align: center;
}

.form-wrapper form{
    width: 40%;
    margin: 0 auto;
}

.form-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.form-group label{    
    padding-right: 1em;
    text-align: left;
}

.form-wrapper input{
   padding: 10px 5px;
   outline: none;
   border-radius: 0.5em;
   border: 1px solid rgb(197, 93, 7);   
   
}


.form-wrapper input[type="submit"] {
    padding: 10px 20px;
    margin: 20px;   
    background-color: rgb(197, 93, 7);
    color: white;
    border: none;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid rgb(197, 93, 7);
}

.form-wrapper input[type="submit"]:hover {
    background-color: white;
    color: rgb(197, 93, 7);
    border: 2px solid rgb(197, 93, 7);
    font-size: 18px;
    font-weight: bold;
}